# Folder cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Folder Virtual Environment
venv/
env/
.env
*.env

# Folder hasil/output (SANGAT PENTING!)
# Ini biar 'reconstructions.png' dll. tidak ikut ke-commit
/results/

# File sistem operasi
.DS_Store
Thumbs.db

# File IDE/Editor
.vscode/
.idea/

# File cache Streamlit
.streamlit/